html, body {
    margin: 0;
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    color: #B87D49;
}

body {
    width:90%;
    padding:10px;
    max-width: 768px;
    margin: auto;
    background-color: #FCF3F3;
}

.starting-screen {
    width: 100%;
    height: 100%;
    /* display:none; */
}

.starting-title {
    text-align: center;
    margin-top: 60px;
    text-transform: uppercase;
}

.starting-quote {
    height: 200px;
    opacity: 0;
    transition: opacity 0.6s;
    text-align: right;
}

.starting-quote blockquote {
    margin: 0;
    padding: 0;
    text-align: justify;
}

#start-btn {
    display: block;
    margin: 100px auto 0 auto;
    width: 256px;
    height: 256px;
    border-radius: 100%;
    border: none;
    background-color: #A1FCDF;
    border-bottom: 2px solid #74C5AD;
    font-weight: bold;
    font-size: 2.5rem;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

#start-btn:hover {
    background-color: #74C5AD
}

#start-btn:active, #start-btn:focus {
    outline: none;
    border: none;
}
#loading {
    text-align:center;
    display:none;
}
#game {
    display:none;
    position: relative;
}

.question {
    position: relative;
    display:none;
}

.progressbar {
    margin: 15px auto;
    width: 100%;
    height: 25px;
    background-color: #74C5AD;
    border-radius: 10px;
}

.progressbar span {
    display: block;
    height: 25px;
    background-color: #FCD29F;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: width 0.6s;
}

.question blockquote {
    padding-bottom: 20px;
    margin: 0;
    font-size: 1.2em;
    text-align: justify;
    border-bottom: 2px solid;
}

.answers {
    font-size: 1.2em;
    text-align: center;
    border-bottom: 2px solid;
}

.radio-answer {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 320px;
    height: 35px;
    margin: 10px;
    border: 2px solid;
    border-radius: 10px;
}

.radio-answer input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 3;
}

.radio-answer span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 1;
    border-radius: 9px;
}

.radio-answer label {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.radio-answer input[type=radio]:checked+span {
    background-color: #B2FCE4;
}
.invalid-input {
    display:none;
    color:#E56262;
    text-align:center
}
.answer-submit-btn {
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1.2em;
    color: #B87D49;
    background-color: #FCEFEF;
    border: 2px solid;
    border-radius: 9px;
    margin-top: 30px;
}
.answer-submit-btn:active, .answer-submit-btn:focus {
    color:#97673C;
    outline: none;
}
/*WIN SCREEN*/
#win-screen {
    display:none;
}
#win-screen h1 {
    text-align:center;
    padding-bottom:25px;
    border-bottom:2px solid;
}
#result-value {
    padding-left:20px;
}
.right-answer {
    color: #4AAE90;
}
.wrong-answer {
    color: #E56262;
}
.quotes .quote {
    text-align:right;
}
.quotes .quote h3 {
    text-align:center;
}
.quotes .quote blockquote{ 
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    text-align: justify;
}
.quotes .quote i{    
    text-align:right;
}
.quotes .quote .wrong {
    text-decoration: line-through;
}
#restart-btn {
    display:block;
    width:100%;
    height:70px;
    border: none;
    font-size: 1.2em;
    color: #B87D49;
    background-color: #FCEFEF;
    border: 2px solid;
    border-radius: 9px;
    margin: 70px auto 0 auto;
}
#restart-btn:active, #restart-btn:focus {
    color:#97673C;
    outline: none;
}